<div class="container">
  <br />
  <h3>Hasta Detayları</h3>
  <br />
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>{{ patient.firstName }}</h4>
        </div>
        <div class="col text-right">
          <a href="#" routerLink="/patients/list" class="btn btn-secondary btn-sm">Hasta listesine dön</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Polikinlik Numarası:</b> {{ patient.policlinicCode }}</li>
      <li class="list-group-item"><b>İsim:</b> {{ patient.firstName }}</li>
      <li class="list-group-item"><b>Soyisim:</b> {{ patient.lastName }}</li>
      <li class="list-group-item"><b>Doğum Tarihi:</b> {{ patient.birthDate }}</li>
      <li class="list-group-item"><b>Ziyaret Tarihi:</b> {{ patient.visitDate }}</li>
      <li class="list-group-item"><b>Planlanan Ziyaret Tarihi:</b> {{ patient.scheduledVisitDate }}</li>
      <li class="list-group-item"><b>Hasta Notu:</b> {{ patient.patientNote }}</li>
      <li class="list-group-item"><b>Telefon:</b> {{ patient.phone }}</li>
    </ul>
  </div>
</div>
