<h1>Veri Girişi</h1>
<input type="file" (change)="selectFile($event)" />
<hr>                                                  
<div class="container">    
  <table class="table table-bordered table-hover">    
    <tr>
      <th>İsim</th>
      <th>Soyisim</th>
      <th>Polikinlik Numarası</th>
      <th>Doktor ID</th>
    </tr>    
    <tr *ngFor="let i of list;let j=index" [ngClass]="i.class_name">
      <td>{{i.FirstName}}</td>
      <td>{{i.LastName}}</td>
      <td>{{i.PoliclinicCode}}</td>
      <td>{{i.DoctorID}}</td>

    </tr>    
  </table>    
</div>   

